<html>
    <head>
        {{bootstrap.load_css()}}
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Verwaltung</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><i class="bi bi-house-door-fill"></i> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="bi bi-gift-fill"></i> get a gift</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-person-circle"></i> Konto</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="alert alert-success" role="alert">
            Willkommen bei der Oberstufenverwaltung deiner Schule. Hier kannst du neue Kurse hinzufügen und im Nachhinein bearbeiten. 
          </div> 
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Name des Kurses:</label>
              <input type="Name" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Art des Kurses:</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>--</option>
                <option>LK</option>
                <option>GK</option>
                <option>ZK</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Kursschiene:</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>--</option>
                <option>I Schiene</option>
                <option>II Schiene</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Lehrkraft:</label>
              <input type="Name" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Anmerkungen:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>
          <p class="buttons">
            <button type="button" class="btn btn-primary btn-lg btn-block"><i class="bi bi-file-earmark-arrow-up"></i> Speichern</button>  
            <button type="button" class="btn btn-secondary btn-lg btn-block"><i class="bi bi-arrow-repeat"></i> Zurücksetzten</button>  
          </p>      
    </body>
</html>